

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  text-align: center;
  font-family: 'TT Interphases Mono', monospace;
}

header h1 {
  margin-top: 100px;
  margin-bottom: 0px;
}

header h2 {
  margin: 0;
  font-size: 30px;
}
header p {
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* navbar.js */
.navbar {
  background-color: #3fcbd1;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'TT Interphases Mono', monospace;
  margin-bottom: 10px;
  font-size: 20px;
  
}

/* .navbar-brand {
  font-size: 24px;
  font-weight: bold;
} */

.navbar-nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-grow: 1; 
  
}

.collapse.navbar-collapse {
  padding: 0;
  margin: 0;
}

.nav-link {
  margin-left: 10px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  color: #e6e6e6;
}


.nav-link:hover {
  padding-left: 50px; 
}

.nav-link:hover::before {
  width: 30px; 
}

.experience-item {
  display: flex;
  margin-bottom: 20px;
}

.date {
  flex: 0 0 150px; 
  font-weight: bold;
}

.description {
  flex: 1;
}

.description h3 {
  margin-top: 0;
}
.portfolio-thumbnail {
  width: 200px; 
  height: auto; 
}

.portfolio-item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px; 
  align-items: start;
}

.portfolio-heading {
  margin-bottom: 25px;
  margin-top: 10px;
}

.portfolio-item {
  margin-bottom: 20px;
}

.portfolio-description {
  margin-bottom: 10px;
}

.portfolio-links {
  margin-top: 10px;
}

.portfolio-link {
  margin-right: 100px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.icon {
  color: #000000; 
  font-size: 24px;
}

.app-container {
  display: flex;
  height: 173.5vh;
  position: relative;


}
.left-side {
  flex: 1;
  background-color: #ffffff;
  color: #591bb6;
  padding: 20px;
}

.center-container {
  flex: 0.1; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-image {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  max-width: 100%; 
 
}

.custom-image {
  max-width: 100%; 
  height: auto;
  width: auto; 
  object-fit: contain;
}

.right-side {
  flex: 1.5;
  flex: 1.5g;
  background-color: #ffffff;
  padding: 20px;

}


.profile-image-frame {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -20px; 
  transform: translateY(25%);
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jumbotron {
  position: relative;
  background-image: url('./components/assets/jumbotron-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 20px;
  }
  


.btn-custom.btn-primary {
  background-color: #000000;
  color: #ffffff; 
  font-size: 25px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-custom:hover {
  background-color: #ffffff;
  color: #000000; 
}

.btn-custom:focus {
  outline: none;
}

.about-container {
  font-family: 'TT Interphases Mono', monospace;
  text-align: center;
  margin-bottom: 50px !important;
  
}
.about-heading {
  margin-bottom: 25px;
  font-family: 'TT Interphases Mono', monospace;
  text-align: center;
  font-size: 26px;
}
 .contact-container {
  font-family: 'TT Interphases Mono', monospace;
  text-align: center;
  text-align: center;
  color: #000000; 
  font-size: 18px;
  margin-bottom: 40px;
 }
 .contact-heading {
  font-family: 'TT Interphases Mono', monospace;
  text-align: center;
  font-size: 26px;
 }