.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2f5bb3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d01818; 
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  position: relative;
  display: block;
  padding-left: 30px;
  transition: 0.3s;
  margin-left: 10px; 
  margin-bottom: 100px;
}

.nav-link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px; 
  transform: translateY(-50%);
  width: 20px;
  height: 10%;
  background-color: #3fcbd1;
  transition: width 0.3s;
}

.nav-link:hover {
  padding-left: 50px; 
}

.nav-link:hover::before {
  width: 30px; 
}

.about-container {
  margin-bottom: 50px !important;
}
.experience-item {
  display: flex;
  margin-bottom: 20px;
}

.date {
  flex: 0 0 150px; 
  font-weight: bold;
}

.description {
  flex: 1;
}

.description h3 {
  margin-top: 0;
}
.portfolio-thumbnail {
  width: 200px; 
  height: auto; 
}

.portfolio-item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px; 
  align-items: start;
}

.portfolio-heading {
  margin-bottom: 25px;
  margin-top: 10px;
}

.portfolio-item {
  margin-bottom: 20px;
}

.portfolio-description {
  margin-bottom: 10px;
}

.portfolio-links {
  margin-top: 10px;
}

.portfolio-link {
  margin-right: 100px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.icon {
  color: #3fcbd1; 
  font-size: 24px;
}

.contact-description {
  text-align: center;
  color: #555555; 
  font-size: 16px;
  margin-bottom: 40px;
}

.contact-form {
  margin-top: 20px;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button[type="submit"] {
  margin-top: 10px;
  background-color: #3fcbd1;
  color: #ffffff;
}

.app-container {
  display: flex;
  height: 100%
 
}

.left-side {
  flex: 1;
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 20px;
}

.center-container {
  flex: 0.1; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-image {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  max-width: 100%; 
}

.custom-image {
  max-width: 100%; 
  height: auto;
  width: auto; 
  object-fit: contain;
}

.right-side {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
}
